#root {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  height: 100%;
  max-width: 50em;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1em;
  overflow: hidden;
  padding: 0.5em;
}

.header {
  display: flex;
  gap: 0.5em;

  h1 {
    color: var(--yellow-fg);
    font-size: 1.5em;
    margin: 0;
  }
}
