@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700&display=swap");

:root {
  --primary-color: #116932;
  --secondary-color: #22c55e;
  --tertiary-color: #f0fdf4;
}

html {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
  line-height: 1.4;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: underline;

  &:focus,
  &:hover {
    color: var(--secondary-color);
  }
}

button {
  align-items: center;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.9em;
  line-height: 1;
  font-weight: bold;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s background-color ease-in-out;

  &:focus,
  &:hover {
    background-color: var(--secondary-color);
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background-color: var(--tertiary-color);
    }
  }
}

input {
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: normal;
  padding: 0.25rem;

  &:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 1px var(--secondary-color);
    outline: none;
  }
}
