@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700&display=swap");

:root {
  --yellow-fg: #713f12;
  --yellow-subtle: #fef9c3;
  --yellow-muted: #fef08a;
  --yellow-emphasized: #fde047;
  --yellow-solid: #fde047;
  --yellow-focus-ring: #eab308;
  --yellow-border: #eab308;
}

html {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
  line-height: 1.4;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--yellow-fg);
  border-bottom: 1px solid var(--yellow-fg);
  text-decoration: none;
  transition: 0.2s border-bottom;

  &:focus,
  &:hover {
    border-bottom-width: 3px;
    border-bottom-color: var(--yellow-focus-ring);
  }
}

button {
  align-items: center;
  background-color: var(--yellow-solid);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 500;
  justify-content: center;
  padding: 0.5rem 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: 0.2s background-color ease-in-out;

  &:focus,
  &:hover {
    background-color: var(--yellow-muted);
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid var(--yellow-border);
    color: var(--yellow-fg);

    &:hover,
    &.active {
      background-color: var(--yellow-subtle);
    }
  }
}

input,
textarea {
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  line-height: normal;
  padding: 0.25rem;

  &:focus {
    border-color: var(--yellow-border);
    box-shadow: 0 0 0 1px var(--yellow-border);
    outline: none;
  }
}
