@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --theme-color: #d84315;
  --secondary-color: #ff8a65;
  --selection-color: #ffd8cb;
}

html {
  color: #222;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-size: clamp(16px, 2.4vw, 21px);
  line-height: 1.4;
}

body {
  margin: 0;
}

p {
  margin: 0;
  text-align: left;
  width: 100%;
}

a {
  color: var(--theme-color);
  text-decoration: underline;

  &:hover {
    color: var(--secondary-color);
  }
}

button {
  background-color: var(--theme-color);
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 0.9em;
  font-weight: bold;
  height: 2rem;
  margin: 1rem 0.25rem;
  padding: 0.25rem 1rem 0.25rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    background-color: var(--secondary-color);
  }
}

form {
  display: flex;
}

textarea {
  appearance: none;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  min-height: 5rem;
  line-height: normal;
  margin: 1rem 0.25rem;
  padding: 0.25rem;
  min-width: 27rem;
}

::selection,
mark {
  background: var(--selection-color);
}

.App .__react_component_tooltip {
  background-color: var(--selection-color);
  color: inherit;
  font-size: 1em;
  padding: 0.25em 0.5em;
  transition: opacity 0.2s;

  &.show {
    opacity: 1;
  }

  &.place-bottom::after {
    border-bottom-color: var(--selection-color);
  }
}
